:root {
  --primary-color: #ff570f;
  --secondary-color: #fbf7f2;
  --tertiary-color: #00b493;
  --white-color: #fff;
  --border-line: #595959;

  --page-title-height: 2rem;

  --item-title: 1.5rem;
  --item-subtitle: 1.2rem;
  --item-description: 0.8rem;
  --card-padding: 1rem;
  --round-padding: 0.5rem;
  --round-diameter: 1rem;

  --border-radius: 20px;
  --gap: 0.5rem;

  --content-padding-top: 10rem;
  --content-padding-bottom: 2rem;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--secondary-color);
}
ul,
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

/*   home css start*/
#home {
  max-width: 980px;
  margin: auto;
}
.member-title {
  padding-top: var(--content-padding-top);
  padding-bottom: var(--content-padding-bottom);
  font-size: var(--page-title-height);
  line-height: var(--page-title-height);
  display: flex;
}
.delete-vote {
  float: right;
  background: none;
  border: none;
}
.add-vote img {
  width: var(--page-title-height);
  padding-left: var(--gap);
}

.vote-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.vote-list-container .card {
  box-sizing: border-box;
  width: calc(33.3% - 0.5rem);
  padding: var(--card-padding);
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}
@media (max-width: 500px) {
  .vote-list-container .card {
    width: 50%;
  }
}
.vote-name {
  font-size: var(--item-title);
  font-weight: bold;
}
.vote-date {
  font-size: var(--item-description);
}
.stores {
  font-size: var(--item-description);
  display: flex;
  gap: var(--gap);
  flex-flow: row wrap;
}
.stores::before,
.stores::after {
  content: '';
  width: 100%;
  height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  background: var(--border-line);
}
.stores span {
  white-space: nowrap;

  background: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
}
.card-status {
  position: relative;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.is-voting {
  font-size: var(--item-subtitle);
  color: var(--tertiary-color);
}
.more-vote {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  font-size: var(--item-description);
  color: var(--white-color);
  border-radius: var(--border-radius);

  top: 0;
  right: 0;
}
/*   home css end*/

/*   login css start*/
#login {
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.class-toggle {
  display: flex;
}
.class-toggle li {
  width: 50%;
}
/*   login css end*/
